.load{
    width: 50%;
    height: 300px;
    margin: auto;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
   border: 5px solid red;
   color: rgb(206, 133, 24);
  }
  
  .sun-graph{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
     padding: 5px 12px;
     border-radius: 5px;
     font-size: 14px;
  }
  
  .displays{
   
      width: 500px;
      margin: auto;
     height: 940px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
      margin-top: 20px;
     
     }
    
    .search{
        display: flex;
       width: 125%;
       margin: 0px 30px 20px 20px;
        
    }
    .input{
        width: 85%;
       margin-top: 10px;
        height: 40px;
        padding: 0px 40px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .tempIcon{
      height: 70px;
    }
    .searchIcon{
    margin-left: -40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 17px;
    }
    .location{
        background-color: transparent;
     margin-right: -40px;
     border: none;
     z-index: 1;
     margin-top: 17px;
    }
    #detail {
        height: 150px;
       
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        margin-bottom: 30px;
        overflow: auto;
        white-space: nowrap;
        gap: 23px;
        
      }
    
      #detail>div{
        width: 30%;
        font-weight: 600;
        margin-left: 25px;
        border-radius: 10px;
    
      }
      #detail>div:focus{
        border: 3px solid rgb(0,166,250);
        margin-top: -3px;
        padding-top:10px ;
        border-radius: 10px;
      }
      .tempChart{
        
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: auto;
        border-radius: 10px;
        margin-bottom: 50px;
      }
      .tempChartTemp{
        margin: auto;
        margin-bottom: 30px;
        text-align: start;
        width: 95%;
        display: flex;
        height: 60px;
      }
      .tempChartTemp>span{
        font-size: 50px;
        font-weight: 600;
        margin-right: 15px;
        
      }
     
      .middata{
        width: 95%;
        height: 60px;
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
       
      }
      .lastdata{
        width: 95%;
        height: 20px;
        margin: auto;
        margin-top: -40px;
       
        display: flex;
        justify-content: space-between;
      }
     
     
  
      .set{
    font-weight: 600;
      }
    
     
      
    
      @media screen and (max-width: 600px){
        .search{
          width: 90%;
        }
        #detail{
          overflow: scroll;
          width: 90%
        }
        #detail>div{
          width: 300px;
          border: 10px solid transparent;
        }
        .tempChart{
          width: 85%;
          border-radius: 7px;
        }
      
        .tempChartTemp>span{
        
          margin-right: 5px;
    
        }
       
        #detail>div:focus{
          border: 3px solid rgb(250, 0, 167);
          height: 120px;
          margin-top: 8px;
        }
        .detailIcon{
          margin-right: 525px;
        }
        .cal{
          margin-left: 80px;
        }
        .PressureHumidity>div{
          width: 44%;
        }
        
        
      }
    